*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica';
}
html,
body{
  height: 100%;
  width: 100%;
}
.parent{
  height: 100vh;
  width: 100%;
background-color: #111;
padding: 30px; ;
display: flex;
gap : 30px;
flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color:#fff;
border-radius: 30px;
padding: 30px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.card .top{
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
  

}
.top button{
  display: flex;
  align-items: center;
  border: 1px solidm #dadada;
  padding: 3px  6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;

}

.canter h3{
  font-size: 18px;
  font-weight: 500;
}
.canter h3 samp{
 font-size: 9px;
  font-weight: 400;
  color: #44e926a4;
  background-color: hsla(120, 5%, 80%, 0.604);
   font-size: 10px;
}
.canter h2{
  font-size: 17px;

}
.canter .tag{
display: flex;
margin-top: 10px ;
gap: 5px;
}
.canter .tag h4{
  font-size: 10px;
background-color: hsla(120, 5%, 80%, 0.604);
color: #151615;
font-weight: 500; ;
padding: 4px 6pcx;
border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  border-top: 1.5px solid #aaa5a5dd;
  justify-content: space-between;
  border-top: 15px;

}
.bottom button{
  background-color: #111;
  color:white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600px; 

}
.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}