.header{
  background-color: rgb(106, 0, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;

}
.btn{
  background-color: #d1ef0a;
}
.logo{
  text-decoration:underline;
}