*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'helvetica neue';
color: whitesmoke;
}
html
body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border: 1px solid whitesmoke;
  text-align: center;
  padding: 20px;
  border-radius: 10%;
  background-color: rgb(63, 97, 97);
  margin: 20px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10%;
}
.card button{
  background-color: white;
  padding: 10px 20px;
  color: #000;
  border:navy ;
  border-radius: 5px;

}
.card p{
  margin: 20px 0;
}